---
layout: default
title: Homepage
---
<div class="container-lg p-responsive f4 py-6">
  <div class="col-md-9">

    <div class="clearfix pt-md-6 pb-3 pb-md-5">

      <div class="float-right col-4 mb-3 ml-3 text-red">

      </div>

      <h1 class="lh-condensed mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
          <circle cx="12" cy="12" r="10"></circle>
        </svg>
        Resume Peraturan Perpajakan</h1>

      <div class="text-gray lh-condensed mb-3">
        Kami susun selengkap dan semudah mungkin untuk dipahami
      </div>

      {% for post in paginator.posts %}
      <article class="height-full clearfix border border-gray-light rounded-1 p-3 my-5">
        <div class="h6 text-gray mb-1">
          {% assign sortedCategories = post.categories | sort %}
          {% for category in sortedCategories %}
          <span class="Label {{ category }}">
            {{ category }}
          </span>
          {% endfor %}
        </div>

        <h1 class="h3 lh-condensed mb-2"><a href="{{post.url | prepend: site.baseurl}}">
            {{post.title}}
          </a></h1>

        <p class="text-gray mb-2 text-gray f6">
          {{ post.datePublished | date_to_long_string }}
        </p>

        <a href="{{post.url | prepend: site.baseurl}}" class="d-block width-fit f6 link-gray css-truncate css-truncate-target no-wrap">
          <svg class="octicon octicon-link mr-1" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
            <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
          </svg>{{post.url | absolute_url}}
        </a>
      </article>

      {% endfor %}
    </div>
  </div>
  {% include pagination.html %}
</div>