/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank
/* Fluid type */
/* type scale */
$type-size-1 : 2.441em;  // ~39.056px
$type-size-2 : 1.953em;  // ~31.248px
$type-size-3 : 1.563em;  // ~25.008px
$type-size-4 : 1.25em;   // ~20px
$type-size-5 : 1em;      // ~16px
$type-size-6 : 0.75em;   // ~12px
$type-size-7 : 0.6875em; // ~11px
$type-size-8 : 0.625em;  // ~10px
/* Colors */
$base-color: #3a4750 !default;
$text-color: #303841 !default;
$accent-color: #fc5c65 !default;
$background-color: #eee !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.25) !default;
$overlay-color: #eee !default;


$base-font-size: 12px !default; //16px !default;
$min-font-size: 10px !default;//14px !default;
$max-font-size: 14px !default;//18px !default;
$base-font-family: 'Inter UI var alt', sans-serif;
.entry-title {
    font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace;
}
.entry-excerpt{
    font: 15px/22px 'Inter UI var alt', system-ui, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.002em;
    font-weight: 400;
    padding-bottom: 30px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    font-kerning: normal;
    -moz-font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
    -ms-font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
    -o-font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
    -webkit-font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
    font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
}