/* ==========================================================================
   Plum theme skin
   ========================================================================== */

/* Colors */
$base-color: #561050 !default;
$text-color: #35013f !default;
$accent-color: #951556 !default;
$background-color: #e9b5d2 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
