/* ==========================================================================
   Sea theme skin
   ========================================================================== */

/* Colors */
$base-color: #41506b !default;
$text-color: #90f6d7 !default;
$accent-color: #35bcbf !default;
$background-color: #263849 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
