.KUP{
    color: black;
    background-color: $bg-gold;
}

.PPN{
    color: white;
    background-color: $bg-blue;
}

.PPH{
    color: black;
    background-color: $blue-400;
}

.Resume{
    color: white;
    background-color: $bg-green;
}

.File{
    color: black;
    background-color: $bg-red;
}