/*

This code is from a old repo that i no longer maintained and has no documentation https://github.com/godalming123/importable-css-js/blob/master/css/utilities/variables/_variables.scss

H -> hue
L -> luminosity
S -> saturation
acnt -> accent
clr -> color
fg -> foreground
bg -> background
hvr -> hover

*/

body {
  
  // NORMAL COLOURS	

  // luminosity (brightness)
   
  // buttons
  --L-acnt: 30%;
  --L-on-acnt: 100%;
  --L-acnt-hover-change: 0.8;//the number that --L-acnt gets changed by when it is hovered eg a button has 30% luminosity when left it luminosity is then timesed by 0.8 when the button is hovered

  // light
  @media (prefers-color-scheme: light)& {
    --L-h1: 13%;
    --L-h2: 22%;
    --L-h-3-6: 29%;
    --L-text: 45%;
    --L-bg: 100%;
    --L-grey: 85%;
    --L-fg-keep-clr: 20%;
  }
	
  // dark
  --L-h1: 90%;
  --L-h2: 83%;
  --L-h-3-6: 76%;
  --L-text: 70%;
  --L-bg: 10%;
  --L-grey: 20%;//this clolor is used for elements like dropdowns uncoloured buttons and popups
  --L-fg-keep-clr: 80%;
  
  //definitions
  --clr-primary: hsl(200, 100%, var(--L-acnt));
  --clr-on-primary: hsl(0, 0%, var(--L-on-acnt));
  --clr-h1: hsl(0, 0%, var(--L-h1));
  --clr-h2: hsl(0, 0%, var(--L-h2));
  --clr-h-3-6: hsl(0, 0%, var(--L-3-6));
  --clr-text: hsl(0, 0%, var(--L-text));
  --clr-bg: hsl(0, 0%, var(--L-bg));
  --clr-grey: hsl(0, 0%, var(--L-grey));
  --clr-keep-clr: hsl(0, 0%, var(--L-fg-keep-clr));
  --clr-lighten: hsla(0, 0%, var(--L-fg), 10%);
  --clr-background-lighten: hsla(0, 0%, var(--L-grey), 70%);
	
  // CODE COLOURS (colors for code boxes)
}
