{% if cv.work %}
  <div id="work" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Work</h3>
    </header>

    <div class="entry-content">
      {% for w in cv.work %}
        {% if w.company %}
          <h3 class="name">
            {% if w.website %}
              <a href="{{ w.website }}">{{ w.company }}</a>
            {% else %}
              {{ w.company }}
            {% endif %}
          </h3>
        {% endif %}
        {% if w.position %}
          <h4 class="position">{{ w.position }}</h4>
        {% endif %}
        <div class="date">
          {% if w.startDate %}
            <span class="startDate">{{ w.startDate }}</span>
          {% endif %}
          {% if w.endDate == '' %}
            <span class="endDate">{{ site.data.theme.t.present | default: 'Present' | prepend: ' &mdash; ' }}</span>
          {% else %}
            <span class="endDate">{{ w.endDate | prepend: ' &mdash; ' }}</span>
          {% endif %}
        </div>
        {% if w.summary %}
          <div class="summary">
            <p>{{ w.summary }}</p>
          </div>
        {% endif %}
        {% if w.highlights %}
          <ul class="highlights">
            {% for highlight in w.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
