---
---

@import "colors";

:root {
    @include colors;
    @include light-colors;
  }
    
@media screen and (prefers-color-scheme: dark) {//we would not like to apply dark mode if content is on printer as that would use a lot of ink
  :root{
    @include dark-colors;
  }
}