<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/main.css" media="screen">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script src="https://kit.fontawesome.com/4d12f4e475.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/font-awesome.min.css" media="screen">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165411676-1"></script>

<script src="https://use.fontawesome.com/50df9c2e35.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165411676-1');
</script>

<script src="https://use.fontawesome.com/50df9c2e35.js"></script>
  </head>
  <body>
    <div class="wrapper">
        <div class="navigation">
    <div class="container">
     
      <div class="navbar">
        <input type="checkbox" id="navbar-toggle">
        <label for="navbar-toggle" onclick class="navbar-toggle"></label>
        <ul class="nav-menus-wrap">
        
          <li class="nav-menus-group">
          <!--  <a class="menus-title
                        ">Instructions</a>-->
            <ul class="nav-menus">
            
            </ul>
          </li>
          <li class="nav-menus-group">
            <button class="menus-title" style="font-size:14px;"type="button">Categories</button>
            <ul class="nav-menus">
              <li><a class="nav-menu" href="https://www.endeavorlabs.net/art">Art</a></li>
              <li><a class="nav-menu" href="https://www.endeavorlabs.net/code">Code</a></li>
                    <li><a class="nav-menu" href="https://www.endeavorlabs.net/projects">Projects</a></li>
                    <li><a class="nav-menu" href="https://www.endeavorlabs.net/video">Video</a></li>
                     <li><a class="nav-menu" href="https://www.endeavorlabs.net/design">Design</a></li>
            </ul>
          </li>
         <!-- <li class="nav-menus-group"><a class="menus-title menus-github" href="#"><img src="https://www.madtinker.net/images/Github_sm.png"></a></li>-->

        </ul>
      </div>
    </div>
  </div>

      <header>
        <!--<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>-->
        
        {% if site.logo %}
       <a href="{{ "/" | absolute_url }}"><img class="logo" src="https://image-control-storage.s3.amazonaws.com/ce_logo.png" /></a>
       <!--   <img src="{{site.logo | relative_url}}" alt="Logo" />-->
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <hr>

     
        <i class="fab fa-twitter"></i><i class="fab fa-facebook"></i><i class="fab fa-github"></i><i class="fab fa-pinterest"></i><i class="fab fa-instagram"></i>
      </header>
    
  <div class="container">
   

   
  </div>

      <section>

      {{ content }}

      </section>
      
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <div> <a class="madtinker_main" href="https://www.netlify.com">
    <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" style="width:100px; opacity: .9;" alt="Deploys by Netlify" />
      </a></div>
<br/> <br/>
       <div class="madtinker_main">
<a href="http://github.io"><img src="https://image-control-storage.s3.amazonaws.com/github-512.png" style="width:45px; opacity: .5;"></a>
    </div>
    </div>
    
 </footer> <br /><br /><br />
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
